body {
    background-color:black;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.calc-div {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    
}

.valdiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1{
    color:grey;
    font-family: sans-serif;
    font-weight:900;
}

p {
    margin: 0;
    padding: 0;
}

span {
    background-color: yellow;
}

#nyears {
    width: 30%;
}
